---
import { Badge } from '@astrojs/starlight/components';
const { schema } = Astro.props;
---

<table>
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  {
    Object.entries(schema.properties).map(([parameter, parameterSchema]) => (
      <tr>
        <td>{parameter} {(schema.required ?? []).includes(parameter) ? <Badge text="required" variant="note" /> : null}</td>
        <td>{parameterSchema.type}</td>
        <td>{parameterSchema.default ?? '-'}</td>
        <td>{parameterSchema.description ?? '-'}</td>
      </tr>
    ))
  }
</table>
