---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { LinkButton } from '@astrojs/starlight/components';
const { path, type } = Astro.props;
let resolvedPath = getRelativeLocaleUrl(Astro.currentLocale || 'en', path);
resolvedPath = resolvedPath.slice(0, resolvedPath.length - 1);
---

{
    type === 'button' ? <LinkButton href={resolvedPath}><slot/></LinkButton> : <a href={resolvedPath}><slot/></a>
}
