div.hero {
    margin-bottom: -50px !important;
}

div.container > h5 {
    font-style: italic;
}

div.container {
    justify-content: center;
    text-align: center;
    /* border-top: 1px solid rgba(0,0,0,0.1); */
    margin-bottom: 75px;
}

.center {
    justify-content: center;
    text-align: center;
}

div.container > *:not(div.card-grid) {
    padding: 25px 0;
}

@media (min-width: 50rem){
    div.container.three-column > div.card-grid {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}