name: PR

on:
  pull_request:
    branches: [main]

env:
  CI: 'true'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  issues: write
  statuses: write
  checks: write
  contents: write
  actions: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: codebuild-nx-plugin-for-aws-runner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/init-monorepo
      - name: Build
        run: pnpm nx run-many --target build --all --output-style=stream
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Check for mutations
        run: git diff --ignore-space-at-eol --exit-code -- ':!**/LICENSE-THIRD-PARTY'
      - name: Upload artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: build-artifact
          path: dist
  smoke_tests:
    name: Smoke Tests - ${{matrix.package_manager}}
    runs-on: codebuild-nx-plugin-for-aws-runner-${{ github.run_id }}-${{ github.run_attempt }}
    needs: build
    strategy:
      matrix:
        package_manager: [npm, yarn, pnpm, bun]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: dist
      - uses: ./.github/actions/init-monorepo
      - name: Smoke Test - ${{ matrix.package_manager }}
        run: pnpm nx run @aws/nx-plugin-e2e:test -t "smoke test - ${{ matrix.package_manager }}"
